<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <backend_config>
			<subscribe>
                <checkbox_list></checkbox_list>
            </subscribe>
            <unsubscribe>
                <multicheckbox_list></multicheckbox_list>
            </unsubscribe>
        </backend_config>
    </default>
</config>