<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="ppgroup" translate="label" sortOrder="500">
            <label>PPGROUP</label>
        </tab>
        <section id="ppgroup_logroration" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Log Rotation</label>
            <tab>ppgroup</tab>
            <resource>PPGroup_LogRotation::config</resource>
            <group id="general" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="0">
                <label>Var Log Archiving</label>
                <field id="enabled" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="lifetime" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Log Entry Lifetime, Days</label>
                    <validate>validate-zero-or-greater validate-digits</validate>
                    <depends>
                        <field id="*/general/enabled">1</field>
                    </depends>
                </field>
                <field id="enable_zip" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Enable Zip</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="*/general/enabled">1</field>
                    </depends>
                </field>
                <field id="cron_expr" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Cron Expression</label>
                    <depends>
                        <field id="*/general/enabled">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
