<!--@subject {{trans "Update to your %store_name shipment" store_name=$store.frontend_name}} @-->
<!--@vars {
"var this.getUrl($store, 'customer/account/')":"Customer Account URL",
"var order_data.customer_name":"Customer Name",
"var comment":"Order Comment",
"var order.increment_id":"Order Id",
"var order_data.frontend_status_label":"Order Status",
"var shipment.increment_id":"Shipment Id"
} @-->
{{template config_path="design/email/header_template"}}
<table align="center" style="display: block; background-color:#000; text-align:center; width: 660px">
    <tbody style="display: block">
    <tr style="display: block">
        <td class="dark"  style="display:block; padding-bottom:8px; padding-top:5px; background-color:#000">
            <h3 style="text-align: center;color: #FFF !important;">
                {{trans "Hi %name," name=$order_data.customer_name}}
            </h3>
        </td>
    </tr>
    <tr style="display: block">
        <td class="dark" align="center" style="display:block; padding-bottom:0px; background-color:#000">
            <h1 style="text-align: center; margin: 0 !important; color: #FFF !important;">
                {{trans "ORDER %order_status" order_status=$order_data.frontend_status_label}}
            </h1>
        </td>
    </tr>
    <tr style="display: block">
        <td class="dark" align="center" style="display:block; padding-bottom:8px; background-color:#000">
            <h3 style="text-align: center; letter-spacing: 0.025em;color: #FFF !important;">
                {{trans "ORDER NUMBER: %increment_id " increment_id=$order.increment_id |raw}}
            </h3>
        </td>
    </tr>
    </tbody>
</table>
<table align="center" style="padding-bottom:5px; padding-top:20px; width: 660px">
    <tbody>
    <tr>
        <td align="center" style="padding-top: 10px;padding-bottom:10px;">
            <h2 style="text-align: center; margin: 0 0 20px 0 !important">
                {{trans 'Your order has been updated!'}}
            </h2>
        </td>
    </tr>
    <tr>
        <td style="margin-left: 0px">
            <p style="margin: 0 0 50px 0 !important;">
                {{trans 'You can check the status of your order by logging into <a href="%account_url">your account</a>.' account_url=$this.getUrl($store,'customer/account/',[_nosid:1]) |raw}}
            </p>
        </td>
    </tr>
    <tr>
        <table style="display: block" class="button" width="100%" border="0" cellspacing="0" cellpadding="0">
            <tbody style="display: block">
                <tr style="display: block">
                    <td style="display: block">
                        <table class="inner-wrapper" border="0" cellspacing="0" cellpadding="0" align="center" width="100%">
                            <tr>
                                <td align="center" style="padding: 8px 0 !important">
                                    <a href="{{var this.getUrl($store,'customer/account/',[_nosid:1])}}" target="_blank" style="font-weight: bold">{{trans "VIEW ORDER"}}</a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </tr>
    <tr>
        <td style="margin-left: 0px">
            <p style="margin-top: 35px !important;">
                {{trans 'If you have questions about your order, you can email us at <a href="mailto:%store_email">%store_email</a>' store_email=$store_email |raw}}
            </p>
        </td>
    </tr>
    </tbody>
</table>
<table style="width: 660px">
    <tr class="email-information">
        <td>
            {{depend comment}}
            <table class="message-info">
                <tr>
                    <td>
                        {{var comment|escape|nl2br}}
                    </td>
                </tr>
            </table>
            {{/depend}}
        </td>
    </tr>
</table>

{{template config_path="design/email/footer_template"}}
