<?xml version="1.0"?>
<!--
/**
 * @author Amasty Team
 * @copyright Copyright (c) Amasty (https://www.amasty.com)
 * @package Infinite Scroll for Magento 2
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="amasty_scroll" translate="label" type="text" sortOrder="91406" showInDefault="1" showInWebsite="1"
                 showInStore="1">
            <class>separator-top</class>
            <label>Infinite Scroll</label>
            <tab>amasty</tab>
            <resource>Amasty_Scroll::config</resource>
            <group id="amasty_information" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>Information</label>
                <frontend_model>Amasty\Scroll\Block\Adminhtml\System\Config\Information</frontend_model>
            </group>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>General settings</label>
                <field id="loading" translate="label comment" type="select" sortOrder="10" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Loading Type</label>
                    <source_model>Amasty\Scroll\Model\Source\Loading</source_model>
                </field>
                <field id="num_pages_before_button" translate="label comment tooltip" type="text" sortOrder="20" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <depends>
                        <field id="loading">combined</field>
                    </depends>
                    <validate>validate-digits</validate>
                    <label>Number of Automatically Loaded Pages</label>
                    <comment><![CDATA[How many pages to scroll before 'Load More' button appears.]]></comment>
                    <tooltip><![CDATA[Please kindly note that only pages which were loaded with Infinite Scroll are considered as automatically loaded. E.g., if the setting is set to '2', the general number of pages visible for customers before 'Load More' button appearance will be '3']]></tooltip>
                </field>
                <field id="num_pages_before_auto" translate="label comment tooltip" type="text" sortOrder="20" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <depends>
                        <field id="loading">combined_button_auto</field>
                    </depends>
                    <validate>validate-zero-or-greater validate-digits</validate>
                    <label>Number of Automatically Loaded Pages</label>
                    <comment><![CDATA[How many pages to scroll before 'Auto mode' applies.]]></comment>
                    <tooltip><![CDATA[Please kindly note that only pages which were loaded with Infinite Scroll are considered as automatically loaded. E.g., if the setting is set to '2', the general number of pages visible for customers before 'Auto mode' applies will be '3']]></tooltip>
                </field>
                <field id="page_numbers" translate="label comment" type="select" sortOrder="20" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Display Page Numbers</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[Choose Yes to display number of the current page above loaded products in the product listing]]></comment>
                </field>
                <field id="page_number_style" translate="label comment" type="select" sortOrder="30" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Page Numbers Style</label>
                    <source_model>Amasty\Scroll\Model\Source\PageNumberStyle</source_model>
                    <depends>
                        <field id="page_numbers">1</field>
                    </depends>
                </field>
                <field id="loader" translate="label comment" type="text" sortOrder="40" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>AJAX Progress Image Path</label>
                    <comment><![CDATA[Specify path to loading image within your theme, i.e. images/loader.svg]]></comment>
                </field>
            </group>
            <group id="button" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>Load Prev-Next Button (optional)</label>
                <field id="label_before" translate="label comment" type="text" sortOrder="10" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Label for the Prev Button</label>
                    <comment><![CDATA[Specify here the text to be displayed on the action button]]></comment>
                </field>
                <field id="label_after" translate="label comment" type="text" sortOrder="15" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Label for the Next Button</label>
                    <comment><![CDATA[Specify here the text to be displayed on the action button]]></comment>
                </field>
                <field id="color" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Button Color</label>
                    <validate>validate-no-empty</validate>
                    <frontend_model>Amasty\Scroll\Block\Adminhtml\System\Config\Field\Color</frontend_model>
                </field>
                <field id="color_pressed" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Button Color (Pressed)</label>
                    <validate>validate-no-empty</validate>
                    <frontend_model>Amasty\Scroll\Block\Adminhtml\System\Config\Field\Color</frontend_model>
                </field>
            </group>
            <group id="info" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>Back to Top Button (optional)</label>
                <field id="enabled" translate="label comment" type="select" sortOrder="10" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[Choose Yes to display info bar with current page number and total pages count]]></comment>
                </field>
                <field id="style_desktop" translate="label comment" type="select" sortOrder="20" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Button Style for Desktop</label>
                    <source_model>Amasty\Scroll\Model\Source\BackToTopDesktop</source_model>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="style_mobile" translate="label comment" type="select" sortOrder="30" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Button Style for Mobile</label>
                    <source_model>Amasty\Scroll\Model\Source\BackToTopMobile</source_model>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="color" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Button color</label>
                    <validate>validate-no-empty</validate>
                    <frontend_model>Amasty\Scroll\Block\Adminhtml\System\Config\Field\Color</frontend_model>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
            </group>

            <group id="advanced" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>DOM Selectors (for custom themes)</label>
                <field id="product_container_group" translate="label" type="text" sortOrder="10" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <validate>validate-no-empty</validate>
                    <label>Products Group</label>
                </field>
                <field id="product_link" translate="label" type="text" sortOrder="20" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <validate>validate-no-empty</validate>
                    <label>Product Link</label>
                </field>
                <field id="footer_selector" translate="label" type="text" sortOrder="30" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <validate>validate-no-empty</validate>
                    <label>Footer</label>
                </field>
            </group>
        </section>
    </system>
</config>
