<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <weltpixel_layerednavigation>
            <general>
                <enable>1</enable>
                <ajax>1</ajax>
                <ajax_scroll_top>1</ajax_scroll_top>
            </general>
            <sidebar>
                <sb_style>0</sb_style>
                <allow_layered_show_hide>0</allow_layered_show_hide>
                <layered_show_hide_state>open</layered_show_hide_state>
                <slide_down_columns>15.66%</slide_down_columns>
                <slide_down_height>450px</slide_down_height>
                <filter_column_height>450px</filter_column_height>
                <category_block>1</category_block>
                <compare_block>1</compare_block>
                <wishlist_block>1</wishlist_block>
                <recentlyordered_block>1</recentlyordered_block>
                <filter_button>1</filter_button>
                <price_filter>1</price_filter>
                <price_filter_input>0</price_filter_input>
                <auto_close_sidebar>0</auto_close_sidebar>
                <rating_filter>0</rating_filter>
                <rating_filter_name>Rating</rating_filter_name>
                <rating_filter_display>1</rating_filter_display>
                <rating_filter_position>99</rating_filter_position>
                <rating_filter_multiselect>0</rating_filter_multiselect>
                <rating_filter_counter>0</rating_filter_counter>
                <sb_selected_filters_options>1</sb_selected_filters_options>
                <display_multiselect_selected_options>0</display_multiselect_selected_options>
                <horizontal_box_shadow>1</horizontal_box_shadow>
            </sidebar>
            <attribute_display>
                <filter>0</filter>
                <multiselect>1</multiselect>
                <qty>1</qty>
                <sort>position</sort>
            </attribute_display>
        </weltpixel_layerednavigation>
    </default>
</config>
