<?xml version="1.0"?>
<!--
/**
 * @author Amasty Team
 * @copyright Copyright (c) Amasty (https://www.amasty.com)
 * @package Custom Product Sorting for Shop by Brand (Add-On) for Magento 2
 */-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Amasty_CPS">
        <sequence>
            <module name="Magento_Catalog" />
            <module name="Amasty_Base" />
            <module name="Amasty_ShopbyBrand" />
        </sequence>
    </module>
</config>
