<?xml version="1.0"?>
<!--
/**
 * @author Amasty Team
 * @copyright Copyright (c) Amasty (https://www.amasty.com)
 * @package Custom Product Sorting for Shop by Brand (Add-On) for Magento 2
 */-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <type name="Magento\CatalogSearch\Model\ResourceModel\Fulltext\Collection">
        <plugin name="Amasty_CPS::addLandingProductPositionToCollection"
                type="Amasty\CPS\Plugin\Catalogsearch\Model\ResourceModel\Fulltext\Collection"/>
    </type>

    <type name="Amasty\Shopby\Model\ResourceModel\Fulltext\Collection">
        <plugin name="Amasty_CPS::addLandingProductPositionToCollection"
                type="Amasty\CPS\Plugin\Catalogsearch\Model\ResourceModel\Fulltext\Collection"/>
    </type>

    <type name="Amasty\ShopbyLite\Model\ResourceModel\Fulltext\Collection">
        <plugin name="Amasty_CPS::addLandingProductPositionToCollection"
                type="Amasty\CPS\Plugin\Catalogsearch\Model\ResourceModel\Fulltext\Collection"/>
    </type>

    <type name="Amasty\ElasticSearch\Plugin\Framework\Search\Request\Builder">
        <plugin name="Amasty_CPS::ElasticSearch" type="Amasty\CPS\Plugin\ElasticSearch\Plugin\Framework\Search\Request\Builder"/>
    </type>

    <type name="Magento\CatalogSearch\Model\Search\IndexBuilder">
        <plugin name="Amasty_CPS::ApplyCustomFiltersToBaseSearchSelect"
                type="Amasty\CPS\Plugin\Catalogsearch\Model\Search\IndexBuilder"/>
    </type>
    <type name="Magento\CatalogSearch\Model\Adapter\Mysql\Filter\Preprocessor">
        <plugin name="Amasty_CPS::PrepareWhereCauseForCustomFilter"
                type="Amasty\CPS\Plugin\Catalogsearch\Model\Adapter\Mysql\Filter\Preprocessor"/>
    </type>
</config>
