<?xml version="1.0"?>
<!--
/**
 * @author Amasty Team
 * @copyright Copyright (c) Amasty (https://www.amasty.com)
 * @package GDPR Base for Magento 2
 */-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Amasty_Gdpr::gdpr"
             title="Personal Data Protection"
             translate="title"
             module="Amasty_Gdpr"
             sortOrder="100"
             parent="Magento_Customer::customer"
             resource="Amasty_Gdpr::gdpr"/>
        <add id="Amasty_Gdpr::consents"
             title="Consent Checkboxes"
             translate="title"
             module="Amasty_Gdpr"
             sortOrder="0"
             parent="Amasty_Gdpr::gdpr"
             action="amasty_gdpr/consents/index"
             resource="Amasty_Gdpr::consents"/>
        <add id="Amasty_Gdpr::consent_log"
             title="Consent Log"
             translate="title"
             module="Amasty_Gdpr"
             sortOrder="10"
             parent="Amasty_Gdpr::gdpr"
             action="amasty_gdpr/consentLog/index"
             resource="Amasty_Gdpr::consent_log"/>
        <add id="Amasty_Gdpr::action_log"
             title="Action Log"
             translate="title"
             module="Amasty_Gdpr"
             sortOrder="20"
             parent="Amasty_Gdpr::gdpr"
             action="amasty_gdpr/actionLog/index"
             resource="Amasty_Gdpr::action_log"/>
        <add id="Amasty_Gdpr::consent_queue"
             title="Customers Consents Email Queue"
             translate="title"
             module="Amasty_Gdpr"
             sortOrder="30"
             parent="Amasty_Gdpr::gdpr"
             action="amasty_gdpr/consentQueue/index"
             resource="Amasty_Gdpr::consent_queue"/>
        <add id="Amasty_Gdpr::requests"
             title="Delete Requests"
             translate="title"
             module="Amasty_Gdpr"
             sortOrder="50"
             parent="Amasty_Gdpr::gdpr"
             action="amasty_gdpr/request/index"
             resource="Amasty_Gdpr::requests"/>
        <add id="Amasty_Gdpr::policy"
             title="Privacy Policy"
             translate="title"
             module="Amasty_Gdpr"
             sortOrder="60"
             parent="Amasty_Gdpr::gdpr"
             action="amasty_gdpr/policy/index"
             resource="Amasty_Gdpr::policy"/>
    </menu>
</config>
