<?xml version="1.0"?>
<!--
/**
 * @author Amasty Team
 * @copyright Copyright (c) Amasty (https://www.amasty.com)
 * @package Custom Product Sorting for Shop by Brand (Add-On) for Magento 2
 */-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="amasty_cps" translate="label" type="text" sortOrder="031619" showInDefault="1" showInWebsite="1"
                 showInStore="1">
            <class>separator-top</class>
            <label>Custom Product Sorting</label>
            <tab>amasty</tab>
            <resource>Amasty_CPS::config</resource>
            <group id="cps_information" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>Information</label>
                <frontend_model>Amasty\CPS\Block\Adminhtml\System\Config\BrandManagementLink</frontend_model>
            </group>
        </section>

        <section id="amshopby_brand">
            <group id="general">
                <field id="attribute_code_checker" sortOrder="9" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label/>
                    <frontend_model>Amasty\CPS\Block\Adminhtml\System\Config\AttributeCodeChecker</frontend_model>
                </field>
            </group>
        </section>
    </system>
</config>
