<!--
    Amasty ammenu_hamburger_wrapper Abstract UiComponent
    Can use for account menu tab

    @param {Array} elems
    @param {Number} tab_index
-->

<!-- ko if: $data -->
    <!-- ko scope: 'index = ammenu_hamburger_wrapper'-->
        <ul class="ammenu-items -root"
            role="menubar"
            data-bind="
                attr: {
                    'aria-expanded': (activeTab() === $parent.tab_index).toString()
                },
                visible: activeTab() === $parent.tab_index,
                fastForEach: $parent.elems">
            <li data-bind="
                    attr: {
                        class: 'ammenu-item category-item',
                        role: 'menuitem'
                    }">
                <!-- ko template: {
                    name: $parent.root_templates.item,
                    data: {
                        item: $data,
                        link: true,
                        border: true,
                        toggle: $data.isSubmenuVisible(),
                        font_weight: $data.desktop_font,
                        toggleIconEvent: {
                            click: function (ui, event) {
                                $parent.toggleItem($data, event.currentTarget);
                            },
                            keypress: function (ui, event) {
                                $parent.toggleItem($data, event.currentTarget);
                            }
                        },
                        additionalClasses: '-mobile',
                        event: {
                            mouseenter: $parent.onMouseenter.bind($parent, $data),
                            mouseleave: $parent.onMouseleave.bind($parent, $data)
                        }
                    }
                } -->
                <!-- /ko -->
            </li>
        </ul>
        <!-- ko fastForEach: $parent.elems -->
            <!-- ko scope: 'index = ammenu_submenu_wrapper' -->
                <!-- ko template: {
                    name: getTemplate(),
                    data: {
                        item: $parent,
                        event: {
                            mouseenter: function () {
                                $parent.isActive(true)
                            }
                        }
                    }
                } -->
                <!-- /ko -->
            <!-- /ko -->
        <!-- /ko -->
    <!-- /ko -->
<!-- /ko -->