<?xml version="1.0"?>
<!--
/**
 * @author Amasty Team
 * @copyright Copyright (c) Amasty (https://www.amasty.com)
 * @package Email Unsubscribe for Magento 2 (System)
 */-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="amasty_update_unsubscribed_emails">
        <observer name="amasty_unsubscribe_emails" instance="Amasty\EmailUnsubscribe\Model\Observer\UnsubscribeEmails"/>
    </event>

    <event name="amasty_get_unsubscribe_link">
        <observer name="amasty_unsubscribe_link" instance="Amasty\EmailUnsubscribe\Model\Observer\UnsubscribeLink"/>
    </event>
</config>
