<?xml version="1.0"?>
<!--
/**
 * @author Amasty Team
 * @copyright Copyright (c) Amasty (https://www.amasty.com)
 * @package ILN Quick Config for Magento 2 (System)
 */-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="amasty_shopbyconfig" frontName="amasty_shopbyconfig">
            <module name="Amasty_ShopByQuickConfig" before="Magento_Backend"/>
        </route>
    </router>
</config>
