<?xml version="1.0"?>
<!--
/**
 * @author Amasty Team
 * @copyright Copyright (c) Amasty (https://www.amasty.com)
 * @package Improved Layered Navigation by Amasty - Filter Analytics for Magento 2 (System)
 */-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="amshopbyfilteranalytics" translate="label" type="text" sortOrder="91317" showInDefault="1"
                 showInWebsite="1" showInStore="1">
            <label>Improved Layered Navigation: Filter Analytics</label>
            <tab>amasty</tab>
            <resource>Amasty_ShopbyFilterAnalytics::config</resource>

            <group id="analytic" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0"
                   showInStore="0">
                <label>Analytics Block</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1"
                       showInWebsite="0" showInStore="0">
                    <label>Gather Filter Analytics Data</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <frontend_model>Amasty\ShopbyFilterAnalytics\Block\System\GatherData</frontend_model>
                </field>
                <field id="options_per_attribute" translate="label comment" type="text" sortOrder="20" showInDefault="1"
                       showInWebsite="0" showInStore="0">
                    <label>Number of Displayed Filter Options per Filter</label>
                    <comment>Options will be displayed starting with the most popular one.
 Leave empty to display all options.
                    </comment>
                    <frontend_class>validate-digits validate-not-negative-number</frontend_class>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                    <frontend_model>Amasty\ShopbyFilterAnalytics\Block\System\OptionsLimit</frontend_model>
                </field>
                <field id="flush" translate="button_label" sortOrder="30" showInDefault="1" showInWebsite="0"
                       showInStore="0">
                    <button_label>Flush Filters Data</button_label>
                    <frontend_model>Amasty\ShopbyFilterAnalytics\Block\System\FlushButton</frontend_model>
                </field>
            </group>

            <group id="cron" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="0"
                   showInStore="0">
                <label>Cron Settings</label>
                <field id="frequency" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="0"
                       showInStore="0">
                    <label>Frequency</label>
                    <source_model>Magento\Cron\Model\Config\Source\Frequency</source_model>
                    <backend_model>Amasty\ShopbyFilterAnalytics\Model\Config\Backend\CronExpr</backend_model>
                </field>
                <field id="time" translate="label" type="time" sortOrder="11" showInDefault="1" showInWebsite="0"
                       showInStore="0">
                    <label>Start Time</label>
                </field>
            </group>
        </section>
    </system>
</config>
