<?xml version="1.0"?>
<!--
/**
 * @author Acommerce Team
 * @copyright Copyright (c) 2017 Amasty (https://www.Acommerce.asia)
 * @package Acommerce_All
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="Acommerce" class="Acommerce-all-tab" translate="label" sortOrder="70">
            <label>Acommerce Connect</label>
        </tab>
    </system>
</config>
