<p class="am-slider ui-slider ui-slider-horizontal -loaded">
    <span class="ui-slider-range"
          data-bind="style: { backgroundColor: $parent.color }"
          style="left: 35%; width: 30%;"></span>
    <span class="ui-slider-handle ui-state-hover" style="left: 35%;">
        <span class="amshopby-slider-corner"
              data-bind="
                style: {
                    color: $parent.color
                }">
        </span>
        <span class="amshopby-slider-tooltip"
              data-bind="
                style: {
                    color: $parent.color
                }">
            $100
        </span>
    </span>
    <span class="ui-slider-handle ui-state-hover" style="left: 65%;">
        <span class="amshopby-slider-corner"
              data-bind="
                style: {
                    color: $parent.color
                }">
        </span>
        <span class="amshopby-slider-tooltip"
              data-bind="
                style: {
                    color: $parent.color
                }">
            $150
        </span>
    </span>
</p>
