<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <ppgroup_logroration>
            <general>
                <enabled>0</enabled>
                <lifetime>10</lifetime>
                <enable_zip>0</enable_zip>
                <cron_expr>1 0 * * *</cron_expr>
            </general>
        </ppgroup_logroration>
    </default>
</config>
