<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_order_payment_capture">
        <observer name="acommerce_auto_send_invoice_email" instance="Acommerce\Ccpp\Observer\AutoSendInvoiceEmailObserver"/>
    </event>
    <event name="payment_method_is_active">
        <observer name="ccpp_check_available_payment" instance="Acommerce\Ccpp\Observer\PaymentMethodIsActive"/>
    </event>
    <event name="payment_method_assign_data_ccpp">
        <observer name="ccpp_payment_method_assign_data" instance="Acommerce\Ccpp\Observer\PaymentMethodAssignData"/>
    </event>
</config>