<div role="alertdialog"
     tabindex="-1"
     class="modal-popup _show amgdprcookie-bar-container <% if (data.isPopup) { %>-popup<% } %>" data-amcookie-js="bar">
    <span tabindex="0" class="amgdprcookie-focus-guard" data-focus-to="last"></span>
    <button class="action-close" data-amcookie-js="close-cookiebar" type="button">
        <span data-bind="i18n: 'Close'"></span>
    </button>
    <div class="amgdprcookie-bar-block">
        <div class="amgdprcookie-policy"><%= data.policyText %></div>
        <div class="amgdprcookie-buttons-block">
            <% _.each(data.buttons, function(button) { %>
            <button class="amgdprcookie-button <%= button.class %>" disabled data-amgdprcookie-js="<%= button.dataJs %>"><%= button.label %></button>
            <% }); %>
        </div>
    </div>
    <span tabindex="0" class="amgdprcookie-focus-guard" data-focus-to="first"></span>
</div>

<style>
    <% if(css.backgroundColor){ %>
    .amgdprcookie-bar-container {
        background-color: <%= css.backgroundColor %>
    }
    <% } %>
    <% if(css.policyTextColor){ %>
    .amgdprcookie-bar-container .amgdprcookie-policy {
        color: <%= css.policyTextColor %>;
    }
    <% } %>
    <% if(css.textColor){ %>
    .amgdprcookie-bar-container .amgdprcookie-text {
        color: <%= css.textColor %>;
    }
    <% } %>
    <% if(css.titleColor){ %>
    .amgdprcookie-bar-container .amgdprcookie-header {
        color: <%= css.titleColor %>;
    }
    <% } %>
    <% if(css.linksColor){ %>
    .amgdprcookie-bar-container .amgdprcookie-link,
    .amgdprcookie-bar-container .amgdprcookie-policy a {
        color: <%= css.linksColor %>;
    }
    <% } %>
    <% if(css.acceptBtnOrder || css.acceptBtnColor || css.acceptBtnTextColor){ %>
    .amgdprcookie-bar-container .amgdprcookie-button.-save {
        <% if(css.acceptBtnOrder) { %>order: <%= css.acceptBtnOrder %>; <% } %>
        <% if(css.acceptBtnColor) { %>
            background-color: <%= css.acceptBtnColor %>;
            border-color: <%= css.acceptBtnColor %>;
        <% } %>
        <% if(css.acceptBtnTextColor) { %>color: <%= css.acceptBtnTextColor %>; <% } %>
    }
    <% } %>
    <% if(css.acceptBtnColorHover || css.acceptBtnTextColorHover){ %>
    .amgdprcookie-bar-container .amgdprcookie-button.-save:hover {
        <% if(css.acceptBtnColorHover) { %>
            background-color: <%= css.acceptBtnColorHover %>;
            border-color: <%= css.acceptBtnColorHover %>;
        <% } %>
        <% if(css.acceptBtnTextColorHover) { %> color: <%= css.acceptBtnTextColorHover %>; <% } %>
    }
    <% } %>
    <% if(css.allowBtnOrder || css.allowBtnColor || css.allowBtnTextColor){ %>
    .amgdprcookie-bar-container .amgdprcookie-button.-settings {
        <% if(css.allowBtnOrder) { %> order: <%= css.allowBtnOrder %>; <% } %>
        <% if(css.allowBtnColor) { %>
            background-color: <%= css.allowBtnColor %>;
            border-color: <%= css.allowBtnColor %>;
        <% } %>
        <% if(css.allowBtnTextColor) { %> color: <%= css.allowBtnTextColor %>; <% } %>
    }
    <% } %>
    <% if(css.allowBtnColorHover || css.allowBtnTextColorHover){ %>
    .amgdprcookie-bar-container .amgdprcookie-button.-settings:hover {
        <% if(css.allowBtnColorHover) { %>
            background-color: <%= css.allowBtnColorHover %>;
            border-color: <%= css.allowBtnColorHover %>;
        <% } %>
        <% if(css.allowBtnTextColorHover) { %> color: <%= css.allowBtnTextColorHover %>; <% } %>
    }
    <% } %>
    <% if(css.declineBtnOrder || css.declineBtnColor || css.declineBtnTextColor){ %>
    .amgdprcookie-bar-container .amgdprcookie-button.-decline {
        <% if(css.declineBtnOrder) { %> order: <%= css.declineBtnOrder %>; <% } %>
        <% if(css.declineBtnColor) { %>
            background-color: <%= css.declineBtnColor %>;
            border-color: <%= css.declineBtnColor %>;
        <% } %>
        <% if(css.declineBtnTextColor) { %> color: <%= css.declineBtnTextColor %>; <% } %>
    }
    <% } %>
    <% if(css.declineBtnColorHover || css.declineBtnTextColorHover){ %>
    .amgdprcookie-bar-container .amgdprcookie-button.-decline:hover {
        <% if(css.declineBtnColorHover) { %>
            background-color: <%= css.declineBtnColorHover %>;
            border-color: <%= css.declineBtnColorHover %>;
        <% } %>
        <% if(css.declineBtnTextColorHover) { %> color: <%= css.declineBtnTextColorHover %>; <% } %>
    }
    <% } %>
</style>
