<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Acommerce\Ccpp\Model\Ui\ConfigProvider">
        <plugin sortOrder="10" name="PPGroup_Ccpp::add_data_to_checkout_config_provider"
                type="PPGroup\Ccpp\Plugin\Model\Ui\ConfigProviderPlugin"/>
    </type>
<!--    <preference for="Acommerce\Ccpp\Gateway\Command\ResponseCommand" type="PPGroup\Ccpp\Override\Gateway\Command\ResponseCommand" />-->
</config>
