<?xml version="1.0"?>
<!--
/**
 * @author Amasty Team
 * @copyright Copyright (c) Amasty (https://www.amasty.com)
 * @package Shop by Seo for Magento 2 (System)
 */-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Catalog\Controller\Adminhtml\Product\Attribute\Validate">
        <plugin name="Amasty_ShopbySeo::validate_product_attribute" type="Amasty\ShopbySeo\Plugin\Catalog\Controller\Adminhtml\Product\Attribute\Validate\ValidateAttributeAlias" />
    </type>
</config>
