<!--
    Amasty ammenu_tree_wrapper UiComponent
    { item: current_elem, columns: columns_count, $parent: ammenu_tree_wrapper }
-->

<div data-bind="
        attr: {
            class: 'ammenu-category-tree ammenu-column category-item'
        },
        afterRender: $parent.init($data)">

    <!-- ko template: { name: $parent.templates.title, data: { elem: activeLevel } } --><!-- /ko -->

    <ul class="ammenu-list"
        role="menu"
        if="activeLevel().isSubmenuVisible()"
        data-bind="foreach: activeLevel().elems">
        <li role="presentation" data-bind="
                attr: {
                    class: 'ammenu-item category-item'
                }">
            <!-- ko scope: 'index = ammenu_tree_wrapper' -->
                <!-- ko template: {
                    name: root_templates.item,
                    data: {
                        item: $parent,
                        additionalClasses: '-simple',
                        link: $parent.isViewAll || !$parent.isSubmenuVisible() || hide_view_all_link,
                        toggle: $parent.isSubmenuVisible(),
                        event: {
                            click: !hide_view_all_link && $parent.isSubmenuVisible() ? setNextLevel.bind($data, $parents[1].activeLevel, $parent) : false,
                            keypress: !hide_view_all_link && $parent.isSubmenuVisible() ? setNextLevel.bind($data, $parents[1].activeLevel, $parent) : false,
                            mouseenter: onMouseenter.bind($data, $parent),
                            mouseleave: onMouseleave.bind($data, $parent)
                        },
                        toggleIconEvent: hide_view_all_link ? {
                            click: setNextLevel.bind($data, $parents[1].activeLevel, $parent),
                            keypress: setNextLevel.bind($data, $parents[1].activeLevel, $parent)
                        } : false
                    }
                } -->
                <!-- /ko -->
            <!-- /ko -->
        </li>
    </ul>
</div>
