<?xml version="1.0"?>
<!--
/**
 * @author Amasty Team
 * @copyright Copyright (c) Amasty (https://www.amasty.com)
 * @package Improved Layered Navigation for Magento 2
 */-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Amasty\Base\Setup\RecurringData">
        <arguments>
            <argument name="modulesToDisable" xsi:type="array">
                <item name="Amasty_IlnShopbyLite" xsi:type="string">Amasty_IlnShopbyLite</item>
                <item name="Amasty_ShopbyLite" xsi:type="string">Amasty_ShopbyLite</item>
            </argument>
        </arguments>
    </type>
</config>
