<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="accesstrade" translate="label" sortOrder="342" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Access Trade</label>
            <tab>sales</tab>
            <resource>PPGroup_AccessTrade::config</resource>
            <group id="settings" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Settings</label>
                <field id="enabled" type="select" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="campaign_id" type="text" translate="label" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Campaign ID(mcn)</label>
                    <comment>Campaign ID of your Access Trade container</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="result_id" type="text" translate="label" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Result ID</label>
                    <comment>Result ID of your Access Trade container</comment>
                    <validate>validate-number</validate>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="merge_config" type="select" translate="label" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Merge Configured Tracking ID and Campaign ID to APIs</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="tax_calculation" type="select" translate="label" sortOrder="45" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Tax calculation</label>
                    <source_model>PPGroup\AccessTrade\Model\System\Config\Source\Tax</source_model>
                    <comment>7% tax value</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="api_url" type="text" translate="label" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>API Url</label>
                    <comment>For Api access</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="integration_method" type="select" translate="label" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>System Integration Method</label>
                    <source_model>PPGroup\AccessTrade\Model\System\Config\Source\Method</source_model>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="clear_parameters_order_success" type="select" translate="label" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Clear recorded parameters on Order Success</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>For more efficiency tracking, the collected rk value from session would be released after customer order success.</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="use_unix_created_time" type="select" translate="label" sortOrder="75" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Use Unix GMT+0 Created Date Time from Database</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>For switching to locale Date which turn this to No.</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="debug" type="select" translate="label" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enable Debug</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
