<?xml version="1.0"?>
<!--
/**
 * @author Amasty Team
 * @copyright Copyright (c) Amasty (https://www.amasty.com)
 * @package Cookie Consent (GDPR) for Magento 2
 */-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Ui\Model\Export\MetadataProvider">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="amasty_gdprcookie_cookie_consent_listing" xsi:type="array">
                    <item name="date_recieved" xsi:type="string">date_recieved</item>
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Cms\Model\Wysiwyg\CompositeConfigProvider">
        <arguments>
            <argument name="galleryConfigProvider" xsi:type="array">
                <item name="amcookie_wysiwyg_config" xsi:type="string">Amasty\GdprCookie\Model\Wysiwyg\GalleryConfig</item>
            </argument>
            <argument name="wysiwygConfigPostProcessor" xsi:type="array">
                <item name="amcookie_wysiwyg_config" xsi:type="string">Amasty\GdprCookie\Model\Wysiwyg\TinymceConfig</item>
            </argument>
        </arguments>
    </type>
</config>
