<?xml version="1.0"?>
<!--
/**
 * @author Amasty Team
 * @copyright Copyright (c) Amasty (https://www.amasty.com)
 * @package Mega Menu Premium Base for Magento 2
 */-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Amasty\MegaMenuLite\ViewModel\Tree">
        <arguments>
            <argument name="modifyDataPool" xsi:type="array">
                <item name="modifyNodeDataPremium"
                      xsi:type="object">Amasty\MegaMenuPremium\Model\Menu\Frontend\ModifyNodeData
                </item>
            </argument>
        </arguments>
    </type>
</config>
