<!--
    Amasty MegaMenu icon template

    @param {Object} item
    @param {String} additionalClasses
    @param {Boolean} toggle - is toggle icon
    @param {String} color
    @param {Object} event
    @param {String} icon_template
-->

<!-- ko scope: 'index = ammenu_wrapper' -->
    <!-- ko if: $parent.toggle || $data.is_icons_available -->
    <figure if="$parent.icon_template || $parent.item.icon_template"
            data-bind="
                attr: {
                    class: 'ammenu-icon-block ' + ($parent.additionalClasses ? $parent.additionalClasses : '-icon'),
                    title: $parent.event && $parent.item ? $t('Toggle item ') + $parent.item.name : '',
                    role: $parent.event ? 'button' : '',
                    tabindex: $parent.event ? '0' : '-1',
                    'aria-controls': $parent.ariaControls ? $parent.ariaControls : '',
                    'aria-haspopup': $parent.event ? 'menu' : 'false',
                    'type': $parent.event ? 'button' : ''
                },
                style: {
                    'color': $parent.color ? $parent.color : ''
                },
                event: $parent.event">
        <!-- ko template: { name: $parent.icon_template || $parent.item.icon_template } --><!-- /ko -->
    </figure>
    <!-- /ko -->
<!-- /ko -->
