<!--@subject {{trans "Your %store_name password has been changed" store_name=$store.frontend_name}} @-->
<!--@vars {
"var customer.name":"Customer Name"
} @-->
{{template config_path="design/email/header_template"}}

<table align="center" style="display: block; background-color:#000; text-align:center; width: 660px">
    <tbody style="display: block;">
    <tr style="display: block;">
        <td class="dark"  style="display: block; padding-bottom:8px; padding-top:5px; background-color:#000">
            <h3 style="text-align: center;color: #FFF !important;">
                {{trans "SHHH ..."}}
            </h3>
        </td>
    </tr>
    <tr style="display: block;">
        <td class="dark" align="center" style="display: block; padding-bottom:0px; background-color:#000">
            <h1 style="text-align: center; margin: 0 !important; color: #FFF !important;">
                {{trans 'Passwords are hard to remember!' }}
            </h1>
        </td>
    </tr>
    <tr style="display: block;">
        <td class="dark" align="center" style="display: block; padding-bottom:8px; background-color:#000">
            <h3 style="text-align: center; letter-spacing: 0.025em;color: #FFF !important;">
                {{trans 'Totally get it.'}}
            </h3>
        </td>
    </tr>
    </tbody>
</table>

<p class="greeting" style="margin-top: 35px">{{trans "Hello,"}}</p>
<br>

<p>
    {{trans "We have received a request to change the following information associated with your account at %store_name: password." store_name=$store.frontend_name}}
    {{trans 'If you have not authorized this action, please contact us immediately at <a href="mailto:%store_email">%store_email</a>' store_email=$store_email |raw}}{{depend store_phone}} {{trans 'or call us at <a href="tel:%store_phone">%store_phone</a>' store_phone=$store_phone |raw}}{{/depend}}.
</p>
<br>

<p>{{trans "Thanks,<br>%store_name" store_name=$store.frontend_name |raw}}</p>

{{template config_path="design/email/footer_template"}}
