<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="layout_load_before">
        <observer name="weltpixel_advancedwishlist" instance="WeltPixel\AdvancedWishlist\Observer\AddUpdateHandlesObserver" />
    </event>
    <event name="wishlist_add_product">
        <observer name="weltpixel_advancedwishlist" instance="WeltPixel\AdvancedWishlist\Observer\WishListAddProductObserver" />
    </event>
    <event name="wishlist_refresh_pricealert">
        <observer name="weltpixel_advancedwishlist" instance="WeltPixel\AdvancedWishlist\Observer\RefreshWishlistPriceAlertObserver" />
    </event>
    <event name="customer_login">
        <observer name="weltpixel_advancedwishlist" instance="WeltPixel\AdvancedWishlist\Observer\CustomerLoginObserver" />
    </event>
</config>
