<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
   <system>
      <section id="amasty_gdpr" translate="label" type="text" sortOrder="70416" showInDefault="1" showInWebsite="1" showInStore="1">
         <group id="subscribe" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="0">
            <label>Manage newsletter subscribtion with checkbox consent</label>
            <field id="checkbox_list" translate="label" type="multiselect" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
               <label>Select Checkbox Code</label>
               <source_model>Amastyfixed\GDPR\Model\Config\Source\CheckboxList</source_model>
            </field>
         </group>
         <group id="unsubscribe" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="0">
            <label>Admin Unscribe with decline checkbox consent</label>
            <field id="multicheckbox_list" translate="label" type="multiselect" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
               <label>Select Checkbox Code</label>
               <source_model>Amastyfixed\GDPR\Model\Config\Source\CheckboxList</source_model>
            </field>
         </group>
      </section>
   </system>
</config>