<?xml version="1.0"?>
<!--
/**
 * @author Amasty Team
 * @copyright Copyright (c) Amasty (https://www.amasty.com)
 * @package Product Feed for Magento 2
 */-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Amasty\Feed\Api\ValidProductsRepositoryInterface" type="Amasty\Feed\Model\ValidProduct\Repository" />
    <preference for="Amasty\Feed\Api\Data\ValidProductsInterface" type="Amasty\Feed\Model\ValidProduct\ValidProduct" />
    <preference for="Amasty\Feed\Api\CustomFieldsRepositoryInterface" type="Amasty\Feed\Model\Field\Repository" />
    <preference for="Amasty\Feed\Api\Data\FeedInterface" type="Amasty\Feed\Model\Feed" />
    <preference for="Amasty\Feed\Api\FeedRepositoryInterface" type="Amasty\Feed\Model\FeedRepository" />
    <preference for="Amasty\Feed\Api\ScheduleRepositoryInterface" type="Amasty\Feed\Model\Schedule\Repository" />

    <type name="Amasty\Feed\Controller\Adminhtml\Feed\Connection">
        <arguments>
            <argument name="ftp" xsi:type="object">Magento\Framework\Filesystem\Io\Ftp\Proxy</argument>
            <argument name="sftp" xsi:type="object">Magento\Framework\Filesystem\Io\Sftp\Proxy</argument>
        </arguments>
    </type>

    <type name="Amasty\Feed\Model\Filesystem\Ftp">
        <arguments>
            <argument name="ftp" xsi:type="object">Magento\Framework\Filesystem\Io\Ftp\Proxy</argument>
            <argument name="sftp" xsi:type="object">Magento\Framework\Filesystem\Io\Sftp\Proxy</argument>
        </arguments>
    </type>

    <type name="Amasty\Feed\Model\Filesystem\Compressor">
        <arguments>
            <argument name="compressors" xsi:type="array">
                <item name="zip" xsi:type="object">Magento\Framework\Archive\Zip\Proxy</item>
                <item name="gz" xsi:type="object">Magento\Framework\Archive\Gz\Proxy</item>
                <item name="bz2" xsi:type="object">Magento\Framework\Archive\Bz\Proxy</item>
            </argument>
        </arguments>
    </type>

    <virtualType name="FeedCsvFactory" type="Amasty\Feed\Model\Export\Adapter\DocumentFactory">
        <arguments>
            <argument name="instanceName" xsi:type="string">\Amasty\Feed\Model\Export\Adapter\Csv</argument>
        </arguments>
    </virtualType>

    <virtualType name="FeedXmlFactory" type="Amasty\Feed\Model\Export\Adapter\DocumentFactory">
        <arguments>
            <argument name="instanceName" xsi:type="string">\Amasty\Feed\Model\Export\Adapter\Xml</argument>
        </arguments>
    </virtualType>

    <type name="Amasty\Feed\Model\Export\Adapter\AdapterProvider">
        <arguments>
            <argument name="adapters" xsi:type="array">
                <item name="csv" xsi:type="object">FeedCsvFactory</item>
                <item name="txt" xsi:type="object">FeedCsvFactory</item>
                <item name="xml" xsi:type="object">FeedXmlFactory</item>
            </argument>
        </arguments>
    </type>

    <type name="Amasty\Feed\Model\Export\RowCustomizer\Composite">
        <arguments>
            <argument name="customizers" xsi:type="array">
                <item name="configurableProduct" xsi:type="string">Amasty\Feed\Model\Export\RowCustomizer\ConfigurableProduct</item>
                <item name="imagesData" xsi:type="string">Amasty\Feed\Model\Export\RowCustomizer\Image</item>
                <item name="galleryData" xsi:type="string">Amasty\Feed\Model\Export\RowCustomizer\Gallery</item>
                <item name="categoryData" xsi:type="string">Amasty\Feed\Model\Export\RowCustomizer\Category</item>
                <item name="relationData" xsi:type="string">Amasty\Feed\Model\Export\RowCustomizer\Relation</item>
                <item name="urlData" xsi:type="string">Amasty\Feed\Model\Export\RowCustomizer\Url</item>
                <item name="priceData" xsi:type="string">Amasty\Feed\Model\Export\RowCustomizer\Price</item>
                <item name="effectiveData" xsi:type="string">Amasty\Feed\Model\Export\RowCustomizer\Effectivedate</item>
                <item name="taxpercentsData" xsi:type="string">Amasty\Feed\Model\Export\RowCustomizer\Taxpercents</item>
                <item name="customFieldData" xsi:type="string">Amasty\Feed\Model\Export\RowCustomizer\CustomField</item>
                <item name="advancedData" xsi:type="string">Amasty\Feed\Model\Export\RowCustomizer\Advanced</item>
            </argument>
        </arguments>
    </type>

    <type name="Amasty\Feed\Model\Export\RowCustomizer\CustomField">
        <arguments>
            <argument name="mergedAttributeProcessor" xsi:type="object">Amasty\Feed\Model\Export\Utils\MergedAttributeProcessor\Proxy</argument>
        </arguments>
    </type>

    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="generateFeedCommand" xsi:type="object">Amasty\Feed\Console\Command\Generate</item>
                <item name="showProfileListCommand" xsi:type="object">Amasty\Feed\Console\Command\ProfileList</item>
            </argument>
        </arguments>
    </type>
    <type name="Amasty\Feed\Console\Command\Generate">
        <arguments>
            <argument name="feedRepository" xsi:type="object">Amasty\Feed\Api\FeedRepositoryInterface\Proxy</argument>
            <argument name="config" xsi:type="object">Amasty\Feed\Model\Config\Proxy</argument>
        </arguments>
    </type>

    <type name="Amasty\Feed\Model\Rule\Rule">
        <arguments>
            <argument name="combineFactory" xsi:type="object">Amasty\Feed\Model\Rule\Condition\CombineFactory</argument>
        </arguments>
    </type>
    <type name="Amasty\Feed\Model\Rule\Condition\CombineFactory">
        <arguments>
            <argument name="instanceName" xsi:type="string">\Amasty\Feed\Model\Rule\Condition\Combine</argument>
        </arguments>
    </type>
    <type name="Amasty\Feed\Model\Rule\Condition\ProductFactory">
        <arguments>
            <argument name="instanceName" xsi:type="string">\Amasty\Feed\Model\Rule\Condition\Product</argument>
        </arguments>
    </type>

    <type name="Amasty\Feed\Model\GoogleWizard">
        <arguments>
            <argument name="session" xsi:type="object">Magento\Backend\Model\Session\Proxy</argument>
        </arguments>
    </type>

    <type name="Amasty\Feed\Setup\Patch\Data\UpgradeTo270">
        <arguments>
            <argument name="operations" xsi:type="array">
                <item name="upgradeTo101" xsi:type="object">Amasty\Feed\Setup\Operation\UpgradeTo101\Proxy</item>
                <item name="upgradeTo114" xsi:type="object">Amasty\Feed\Setup\Operation\UpgradeTo114\Proxy</item>
                <item name="upgradeTo135" xsi:type="object">Amasty\Feed\Setup\Operation\UpgradeTo135\Proxy</item>
                <item name="upgradeTo180" xsi:type="object">Amasty\Feed\Setup\Operation\UpgradeTo180\Proxy</item>
                <item name="upgradeTo191" xsi:type="object">Amasty\Feed\Setup\Operation\UpgradeTo191\Proxy</item>
                <item name="upgradeTo200" xsi:type="object">Amasty\Feed\Setup\Operation\UpgradeTo200\Proxy</item>
                <item name="upgradeTo210" xsi:type="object">Amasty\Feed\Setup\Operation\UpgradeTo210\Proxy</item>
                <item name="upgradeTo220" xsi:type="object">Amasty\Feed\Setup\Operation\UpgradeTo220\Proxy</item>
                <item name="upgradeTo227" xsi:type="object">Amasty\Feed\Setup\Operation\UpgradeTo227\Proxy</item>
                <item name="upgradeTo230" xsi:type="object">Amasty\Feed\Setup\Operation\UpgradeTo230\Proxy</item>
                <item name="upgradeTo236" xsi:type="object">Amasty\Feed\Setup\Operation\UpgradeTo236\Proxy</item>
            </argument>
        </arguments>
    </type>

    <type name="Amasty\Feed\Setup\RecurringData">
        <arguments>
            <argument name="operations" xsi:type="array">
                <item name="upgradeTo170" xsi:type="object">Amasty\Feed\Setup\Operation\UpgradeTo170\Proxy</item>
            </argument>
        </arguments>
    </type>

    <type name="Amasty\Base\Plugin\Setup\Model\DeclarationInstaller\ApplyPatchesBeforeDeclarativeSchema">
        <arguments>
            <argument name="moduleNames" xsi:type="array">
                <item name="amasty_feed" xsi:type="string">Amasty_Feed</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Indexer\Model\Indexer">
        <plugin name="Amasty_Feed::invalidate_feed_index" type="Amasty\Feed\Plugin\Indexer\Model\Indexer\InvalidateIndex"/>
    </type>

    <type name="Amasty\Feed\Model\OptionSource\Feed\CustomOptionSourceProvider">
        <arguments>
            <argument name="optionSources" xsi:type="array">
                <item name="basic" xsi:type="array">
                    <item name="label" xsi:type="string" translate="true">Basic</item>
                    <item name="optionSource"
                          xsi:type="object">Amasty\Feed\Model\OptionSource\Feed\CustomOptionSource\BasicAttribute\Proxy</item>
                </item>
                <item name="advanced" xsi:type="array">
                    <item name="label" xsi:type="string" translate="true">Advanced</item>
                    <item name="optionSource"
                          xsi:type="object">Amasty\Feed\Model\OptionSource\Feed\CustomOptionSource\AdvancedAttribute\Proxy</item>
                </item>
                <item name="product" xsi:type="array">
                    <item name="label" xsi:type="string" translate="true">Product</item>
                    <item name="optionSource"
                          xsi:type="object">Amasty\Feed\Model\OptionSource\Feed\CustomOptionSource\ProductAttribute\Proxy</item>
                </item>
                <item name="price" xsi:type="array">
                    <item name="label" xsi:type="string" translate="true">Price</item>
                    <item name="optionSource"
                          xsi:type="object">Amasty\Feed\Model\OptionSource\Feed\CustomOptionSource\PriceAttribute\Proxy</item>
                </item>
                <item name="inventory" xsi:type="array">
                    <item name="label" xsi:type="string" translate="true">Inventory</item>
                    <item name="optionSource"
                          xsi:type="object">Amasty\Feed\Model\OptionSource\Feed\CustomOptionSource\InventoryAttribute\Proxy</item>
                </item>
                <item name="category" xsi:type="array">
                    <item name="label" xsi:type="string" translate="true">Category</item>
                    <item name="optionSource"
                          xsi:type="object">Amasty\Feed\Model\OptionSource\Feed\CustomOptionSource\CategoryAttribute\Proxy</item>
                </item>
                <item name="category_paths" xsi:type="array">
                    <item name="label" xsi:type="string" translate="true">Category Paths</item>
                    <item name="optionSource"
                          xsi:type="object">Amasty\Feed\Model\OptionSource\Feed\CustomOptionSource\CategoryPathsAttribute\Proxy</item>
                </item>
                <item name="condition_based_attributes" xsi:type="array">
                    <item name="label" xsi:type="string" translate="true">Condition-Based Attributes</item>
                    <item name="optionSource"
                          xsi:type="object">Amasty\Feed\Model\OptionSource\Feed\CustomOptionSource\CustomFieldsAttribute\Proxy</item>
                </item>
                <item name="image" xsi:type="array">
                    <item name="label" xsi:type="string" translate="true">Image</item>
                    <item name="optionSource"
                          xsi:type="object">Amasty\Feed\Model\OptionSource\Feed\CustomOptionSource\ImageAttribute\Proxy</item>
                </item>
                <item name="gallery" xsi:type="array">
                    <item name="label" xsi:type="string" translate="true">Gallery</item>
                    <item name="optionSource"
                          xsi:type="object">Amasty\Feed\Model\OptionSource\Feed\CustomOptionSource\GalleryAttribute\Proxy</item>
                </item>
                <item name="url" xsi:type="array">
                    <item name="label" xsi:type="string" translate="true">Url</item>
                    <item name="optionSource"
                          xsi:type="object">Amasty\Feed\Model\OptionSource\Feed\CustomOptionSource\UrlAttribute\Proxy</item>
                </item>
            </argument>
        </arguments>
    </type>

    <type name="Amasty\Feed\Model\Field\Utils\FieldNameResolver">
        <arguments>
            <argument name="fieldNamesMap" xsi:type="array">
                <item name="result" xsi:type="array">
                    <item name="ruleFieldName" xsi:type="string">rule</item>
                    <item name="resultFieldName" xsi:type="string">result</item>
                </item>
                <item name="default" xsi:type="array">
                    <item name="ruleFieldName" xsi:type="string">default</item>
                    <item name="resultFieldName" xsi:type="string">default</item>
                </item>
            </argument>
        </arguments>
    </type>

    <type name="Amasty\Feed\Model\OptionSource\Feed\CustomOptionSource\CategoryAttribute">
        <arguments>
            <argument name="options" xsi:type="array">
                <item name="first_selected_category" xsi:type="array">
                    <item name="code" xsi:type="const">Amasty\Feed\Model\Export\Product::FIRST_SELECTED_CATEGORY</item>
                    <item name="type" xsi:type="const">Amasty\Feed\Model\Export\Product::PREFIX_CATEGORY_ATTRIBUTE</item>
                    <item name="option" xsi:type="array">
                        <item name="title" xsi:type="string" translatable="true">Default</item>
                        <item name="code" xsi:type="const">Amasty\Feed\Model\Export\Product::FIRST_SELECTED_CATEGORY</item>
                    </item>
                </item>
                <item name="last_selected_category" xsi:type="array">
                    <item name="code" xsi:type="const">Amasty\Feed\Model\Export\Product::PREFIX_CATEGORY_ATTRIBUTE</item>
                    <item name="type" xsi:type="const">Amasty\Feed\Model\Export\Product::PREFIX_CATEGORY_ATTRIBUTE</item>
                    <item name="option" xsi:type="array">
                        <item name="title" xsi:type="string" translatable="true">Default</item>
                        <item name="code" xsi:type="const">Amasty\Feed\Model\Export\Product::LAST_SELECTED_CATEGORY</item>
                    </item>
                </item>
            </argument>
        </arguments>
    </type>
</config>
